body {
	text-align: center;
	background-color: #2ac3de;
	background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
	padding-top: 70px;
	margin: 20px;
	font-family: 'Bungee Shade', cursive;
}